services:
  # ==================== POSTGRESQL ====================
  postgres:
    image: postgres:latest
    container_name: quizizz-postgres
    environment:
      POSTGRES_DB: myapp
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgresql
      PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d myapp"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 30s
    networks:
      - quizizz-network

  # ==================== REDIS ====================
  redis:
    image: redis:latest
    container_name: quizizz-redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes
    restart: unless-stopped
    networks:
      - quizizz-network

  # ==================== MINIO ====================
  minio:
    image: minio/minio:latest
    container_name: quizizz-minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin123
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data
    restart: unless-stopped
    networks:
      - quizizz-network

  # ==================== BACKEND ====================
  backend:
    image: toobidu/be:latest
    container_name: quizizz-backend
    ports:
      - "8080:8080"
      - "9093:9093"
    environment:
      SPRING_PROFILES_ACTIVE: docker
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/myapp
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: postgresql
      SPRING_DATA_REDIS_HOST: redis
      SPRING_DATA_REDIS_PORT: 6379
      MINIO_ENDPOINT: http://minio:9000
      MINIO_PUBLIC_ENDPOINT: http://localhost:9000
      JWT_SECRET_KEY: 820370665f3840fdd097ddfef080afea0260702bc53f27901c61034467ab98a4d02962b5a058e6e297006f8849bf4686186f6f917f9471bcca4eaeca76c64cd4
      JAVA_OPTS: "-Xms512m -Xmx1024m"
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_started
      minio:
        condition: service_started
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/actuator/health"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 120s
    restart: unless-stopped
    pull_policy: always
    networks:
      - quizizz-network

  # ==================== FRONTEND ====================
#  frontend:
#    image: toobidu/fe:latest
#    container_name: quizizz-frontend
#    ports:
#      - "3000:3000"
#    restart: unless-stopped

# ==================== VOLUMES ====================
networks:
  quizizz-network:
    driver: bridge

volumes:
  postgres_data:
  redis_data:
  minio_data: